*{
  margin: 0;
  padding: 0;
}
body{
  position: absolute;
  top: 0;
  z-index: -2;
  height: 100vh;
  background-color: #0a0a0a; /* Equivalent to bg-neutral-950 */
  background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
  color: white;
  font-family: 'outfit';
}